<server description="Hello World Liberty server">

  <!-- To access this server from a remote client add a host attribute to the following
    element, e.g. host="*" -->
  <httpEndpoint enabled="true" host="*" httpPort="9080" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

  <application type="ear" id="EnterpriseHelloWorld" location="/config/dropins/EnterpriseHelloWorld.ear" name="EnterpriseHelloWorld"/>
</server>
