<server description="Hello World Server">

 <featureManager>
   <feature>servlet-3.0</feature>
   <feature>jsp-2.3</feature>
 </featureManager>

<httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" />

<webApplication contextRoot="sample" location="/opt/ibm/wlp/usr/servers/defaultServer/dropins/sample.war" />
 
<applicationMonitor dropinsEnabled="false"/>
 
</server>
